root {
   background-color: #c2e5c3;
   font-size: 62.5%;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, Sans-Serif;
   color: #333;
}

h1,h2,h3,h4 {
   margin-bottom: 1rem;
}

h1 {
   font-size: 5.4rem;
   color: #62D2A2;
   margin-bottom: 5rem;
}

h1 > span {
   font-size: 2.4rem;
   font-weight: 500;
}

h2 {
   font-size: 1.5rem;
   margin-bottom: 2rem;
   font-weight: 500;
}

h3 {
   font-size: 2.4rem;
   font-weight: 500;
   
}


/* utilities*/
.container{
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 80rem;
   margin: 0 auto;
   padding: 1rem;
}

.container > * {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

/* BUTTONS */
.btn {
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid #D7FBE8;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #62D2A2;
  background-color: #F0FFF3;
  border-radius: 20px;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(198,235,190, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}





